body {
  margin: 0;
  background: #000000;
  display: flex;
  flex-direction: column;
}

.calculator {
  margin: 0 auto;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  background: linear-gradient(to bottom right, rgb(250,50,50), rgb(50,150,250));
}

#calculator {
  margin: 0 auto;
  padding: 1em;
  background-color: #000000;
  border-radius: 1em;
}

/* Display */
.current-calculation {
  /* display: flex; */
  /* flex-direction: row-reverse; */
  min-height: 3em;
  overflow: auto;
  width: 372px;
  font-size: 3em;
  color: white;
}

.temp-result {
  font-size: 1.5em;
  display: flex;
  flex-direction: row-reverse;
  color: white;
  height: 2em;
  max-width: 372px;
  align-items: center;
}

/* Buttons */
#calc-actions {
  display: flex;
  flex-direction: row;
}

button {
  height: 5em;
  width: 6em;
  margin: 0.5em;
  border-radius: 2em;
  background-color: #0C141D;
  color: white;
  border: 0px;
  outline: none;
}

button span {
  font-size: 2em;
}

button:hover {
  transition-duration: 400ms;
  background-color: #121E2B;
}

button:hover span {
  font-size: 2.6em;
  transition-duration: 400ms;
}

button:active span {
  font-size: 1.5em;
}

#btn-clear {
  color: #671327;
}

#btn-parenthesis, 
#btn-porcentage, 
#btn-divide,
#btn-multiply,
#btn-minus,
#btn-plus {
  color: green;
}

#btn-result {
  background-color: green;
}
